<div class="introimage-item">
    <div class="d-flex flex-column h-100 justify-content-center align-items-center">
        <h4 class="intro_title text-white">LION PICTURES</h4>
        <p class="intro_text text-white">독립영화 플랫폼</p>
        <div class="d-flex flex-row justify-content-center align-items-center">
            <a class="btn btn-light px-lg-4" href="/lionpictures/home">영화보러가기</a>
            <a class="btn btn-light px-lg-4" href="/lionpictures/upload">영화올리기</a>
        </div>
    </div>
</div>