<div class="upload-container">
    <form action='/lionpictures/create' method='post' enctype='multipart/form-data'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        영화 제목: <input type='text' name='post_title'><br><br>
        감독: <input type='text' name='post_director'><br><br>
        배우:  <input type='text' name='post_actor'><br><br>
        제작 단체:  <input type='text' name='post_team'><br><br>
        제작 일자:  <input type='date' name='post_date'><br><br>
        유튜브 링크:  <input type='text' name='post_youtubelink'><br><br>
        영화 설명:  <textarea name='post_content'></textarea><br><br>
        대표 이미지 파일: <%= file_field_tag 'post_imagefile' %><br><br>
        <input type="submit" value="제출">
    </form>
</form>
</div>
